<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation Detail</title>
</head>
<body>
<h2>예약 상세</h2>
<form th:action="@{/deleteReser}" method="post">
  <!-- 예약 ID 전달 -->
  <input type="hidden" name="id" th:value="${reservation.id}" />

  <div>
    <p><strong>예약자 아이디:</strong> <span th:text="${reservation.user.id}"></span></p>
    <p><strong>예약자 이름:</strong> <span th:text="${reservation.user.name}"></span></p>
    <p><strong>예약자 전화번호:</strong> <span th:text="${reservation.user.phonenum}"></span></p>
    <p><strong>예약 날짜:</strong> <span th:text="${reservation.date}"></span></p>
  </div>
  <button type="submit">예약취소</button>
  <div>
    <a th:href="@{/storereserlist}">예약 목록으로 돌아가기</a>
  </div>
</form>
</body>
</html>
