<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:action="@{/login}" th:method="post">

    <div>
        <label for="id">Id</label>
        <input type="text" name="id" id="id" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="id" id="password" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
    <div>
        <a th:href="@{/signup}">회원가입</a>
    </div>
    <div>
        <a th:href="@{/}">메인페이지</a>
    </div>

</form>

</body>
</html>