<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/master/update}" method="post">
    <table border="1">
        <thead>
        <tr>
            <th>권한</th>
            <th>관리자 아이디</th>
            <th>관리자 이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${masterList}">
            <td>
                <select name="role" id="role">
                    <option value="3">관리자</option>
                    <option value="1">일반회원</option>
                    <option value="2">점주</option>
                </select>
            </td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button type="submit">권한 수정</button>
    </div>
    <div>
        <a th:href="@{/}">메인페이지</a>
    </div>
</form>
</body>
</html>
