<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form th:action="@{/master}" th:method="post">
  <div>
    <input id="role" type="hidden" name="role" value="3">
  </div>
  <div>
    <label for="id">Id</label>
    <input type="text" name="id" id="id" required>
    <p th:text="${msg}"></p>
  </div>
  <div>
    <label for="password">password</label>
    <input type="text" name="password" id="password" required>

  </div>
  <div>
    <label for="confirmPassword">password 확인</label>
    <input type="text" name="confirmPassword" id="confirmPassword" required>
    <p th:text="${msg2}"></p>
  </div>
  <div>
    <label for="name">관리자 이름</label>
    <input type="text" name="name" id="name" required>
  </div>

  <div>
    <button type="submit">관리자등록</button>
  </div>
  <div>
    <a th:href="@{/}">뒤로가기</a>
  </div>

</form>

</body>
</html>