<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form th:action="@{/modify}" th:method="post">
  <div>
    <label for="title">제목</label>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="file">사진</label>
    <input type="file" name="file" id="file">
  </div>

  <div>
    <label for="description">내용</label>
    <input type="description" name="description" id="description">
  </div>
  <div>
    <label for="phone">전화번호</label>
    <input type="phone" name="phone" id="phone">
  </div>

  <div>
    <button type="submit">수정하기</button>
  </div>
  <div>
    <a th:href="@{/storelist}">뒤로가기</a>
  </div>
</form>

</body>
</html>