<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form th:action="@{/signup}" th:method="post">
<div>
  <select>
    <option value="1">일반회원</option>
    <option value="2">점주</option>
  </select>
</div>
  <div>
    <label for="id">Id</label>
    <input type="text" name="id" id="id" required>
  </div>
  <div>
    <label for="password">password</label>
    <input type="text" name="password" id="password" required>
  </div>
  <div>
    <label for="confirmpassword">password 확인</label>
    <input type="text" name="confirmpassword" id="confirmpassword" required>
  </div>
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="phonenum">phone</label>
    <input type="phonenum" name="phonenum" id="phonenum">
  </div>
  <div>
    <button type="submit">회원등록</button>
  </div>
  <div>
    <a th:href="@{/login}">돌아가기</a>
  </div>

</form>

</body>
</html>