<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form th:href="@{reservation}" method="post">
  <div>
    <label for="title">제목</label>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="photo">사진</label>
    <input type="file" name="photo" id="photo">
  </div>

  <div>
    <label for="description">내용</label>
    <input type="description" name="description" id="description">
  </div>
  <div>
    <button type="submit">예약하기</button>
  </div>
  <div>
    <a th:href="@{/update}">수정하기</a>
  </div>
  <div>
    <a th:href="@{/delete}">삭제</a>
  </div>
</form>

</body>
</html>