<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈페이지</title>
</head>
<body>


<div>
    <p th:if="${session.user != null}" th:text="'환영합니다: ' + ${session.user.id} + '님'"></p>
</div>


<div th:if="${session.user != null}">
    <form th:action="@{/logout}" method="post" class="mb-3">
        <button type="submit" class="btn btn-primary">로그아웃</button>
    </form>
    <div th:if="${session.user.role == 3}">
        <a th:href="@{/master}">관리자등록</a>
    </div>
    <div th:if="${session.user.role == 3}">
        <a th:href="@{/master/masterlist/{role}(role=${session.user.role})}">관리자 목록</a>
    </div>
    <div th:if="${session.user.role == 2 or session.user.role == 3}">
        <a th:href="@{/masterreservation}">점주/관리자 예약확인</a>
    </div>
</div>


<div th:if="${session.user == null}">
    <a class="btn btn-primary" th:href="@{/login}">로그인</a>
</div>


<div>
    <a th:href="@{/storelist}">식당리스트</a>
</div>


<div>
    <a th:href="@{/reservation}">예약확인</a>
</div>

</body>
</html>
