<!-- resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>홈페이지</title>
        <nav>
            <div>
                <a th:href="@{/}">메인페이지</a>
            </div>
            <div>
                <a th:href="@{/storelist}">식당리스트</a>
            </div>
            <div>
                <a th:href="@{/login}">로그인</a>
            </div>
            <div>
                <a th:href="@{/master}">관리자등록</a>
            </div>
            <div>
                <a th:href="@{/masterlist}">관리자 목록</a>
            </div>
            <div>
                <a th:href="@{/reservation}">예약확인</a>
            </div>
            <div>
                <a th:href="@{/masterreservation}">점주/관리자 예약확인</a>
            </div>
        </nav>
</head>
<body>

<!-- 레이아웃을 상속하여 헤더 포함 -->
<div layout:decorate="~{layout/layout}">

    <!-- 인덱스 페이지 콘텐츠 -->
    <div layout:fragment="content">
        <h2>홈페이지 컨텐츠</h2>
        <p>여기에 홈페이지 내용을 넣습니다.</p>
    </div>

</div>

</body>
</html>
